<section>
  <div class="jumbotron text-center">
    <br>
    <div class="row">
      <p class="lead">
        Vacancies Project
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/danielcacheta/vacancies" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>This project lets users create and maintain Vacancies</h2>
    <p>It starts with a simple vacancies control solution but flexible enough to support different needs</p>
    <p>It allows users to set these properties:</p>
    <ul>
      <li>
        <b>Title</b>
        to identify the vacancy.
      </li>
      <li>
        <b>Content</b>
        to elaborate more on the description if the user feel like it can help on finding the appropriate worker. (optional field)
      </li>
      <li>
        <b>Frequency</b>
        to hire. It has predefined values that will allow to filter out results in the future.
        When creating or updating a vacancy, there is a list with most common frequency options to select.
      </li>
      <li>
        <b>Fulfilled</b>
        to be checked once someone is hired for the vacancy.
        Vacancies with this option marked doesn't appear to other people.
        Users can also reactivate a vacancy unchecking this option.
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>
        Permissions</h2>
      <p>
        <b>Guests</b> are allowed to visit, list and view existing vacancies.
      </p>
      <p>
        <b>Users</b> are allowed to create, update and delete their own vacancies, including the fulfilled ones.
        They can also view not fulfilled vacancies created by other users.
      </p>
      <p>
        <b>Administrators</b> are able to create vacancies and update/delete vacancies from anyone if necessary.
      </p>
    </div>
  </div>
</section>