<section>
  <div class="page-header">
    <h1>
      Vacancies
      <a class="btn btn-primary pull-right" data-ui-sref="admin.vacancies.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="vacancy in vm.vacancies" data-ui-sref="admin.vacancies.edit({vacancyId: vacancy._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="vacancy.created | date:'mediumDate'"></span>
        by
        <span ng-if="vacancy.user" ng-bind="vacancy.user.displayName"></span>
        <span ng-if="!vacancy.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="vacancy.title"></h4>
      <p class="list-group-item-text" data-ng-bind="vacancy.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vacancies.$resolved && !vacancies.length">
    No vacancies yet, why don't you <a data-ui-sref="admin.vacancies.create">create one</a>?
  </div>
</section>
