<section>
  <div class="page-header">
    <h1>Vacancies</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="vacancy in vm.vacancies" ui-sref="vacancies.view({ vacancyId: vacancy._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="vacancy.created | date:'mediumDate'"></span>
        by
        <span ng-if="vacancy.user" ng-bind="vacancy.user.displayName"></span>
        <span ng-if="!vacancy.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="vacancy.title"></h4>
      <p class="list-group-item-text" ng-bind="vacancy.content"></p>
    </a>
  </div>
</section>
